body {
  background-color: black;
  color: white;
}
h2,
h3 {
  background-color: rgb(0, 65, 10);
  border-radius: 10px;
  padding: 10px;
}
p {
  background-color: rgb(0, 22, 77);
  text-align: left;
  padding: 5px;
}
audio {
  box-shadow: 5px 10px 4px rgb(171, 106, 236);
  border-radius: 510px;
  width: 100%;
}
.hero {
  padding: 0px;
  width: 63%;
  margin: 40px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(135, 8, 135);
}
img {
  border-radius: 10px;
}
video {
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(110, 181, 244);
}

h1 {
  background-color: rgb(241, 142, 13);
  color: rgb(3, 70, 48);
  border: 10px red;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
