body {
  background-color: rgb(0, 0, 0);
  color: white;
}
h2,
h3 {
  margin: 10px auto;
  width: 400px;
  background-color: rgb(0, 65, 10);
  border-radius: 10px;
  padding: 10px;
  border-left: 5px solid rgb(131, 87, 3);
}
p {
  width: 150px;
  background-color: rgb(0, 22, 77);
  text-align: left;
  padding: 5px;
  border-left: 5px solid rgb(80, 2, 15);
  border-radius: 10px;
}
audio {
  box-shadow: 5px 10px 30px rgb(171, 106, 236);
  border-radius: 510px;
  height: 40px;
}
.hero {
  width: 380px;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 5px 5px 40px rgb(135, 8, 135);
}
.img1 {
  border-radius: 20px 0px 0px 20px;
  margin-right: 0px;
  padding: 0px;
}
.img2 {
  border-radius: 0px 20px 20px 0px;
  margin-left: 0px;
  padding: 0px;
}

video {
  margin-left: 550px;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(110, 181, 244);
}

h1 {
  background-color: rgb(241, 142, 13);
  color: rgb(3, 70, 48);
  border: 10px solid rgb(105, 0, 59);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
